<plugin name='tropo-webapi-grails' version='0.1' grailsVersion='1.3.6 &gt; *'>
  <author>Martin Perez</author>
  <authorEmail>mpermar@gmail.com</authorEmail>
  <title>Plugin to interact with the Tropo Cloud platform</title>
  <description>\
The Tropo Cloud platform allows to create voice and SMS powered applications very easily. 

This plugin implements the Tropo WebApi and allows people to create with very few lines of code applications that 
can send and receive SMSs and calls, record conversations, send MP3s to other people and many other cool things. 

The plugin also implements a client for the Tropo REST API which allows us to configure our Tropo applications.  
</description>
  <documentation>http://grails.org/plugin/tropo-webapi-grails</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>com.tropo.grails.HTTPHelper</resource>
    <resource>com.tropo.grails.ParamsHelper</resource>
    <resource>com.tropo.grails.TropoService</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>